<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome/5.15.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="js/all.js"></script>

    <title>Book Store</title>
</head>

<body>
    <div id="app">

        <section id="search-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h2>MDX Book Store</h2>
                    </div>
                    <div class="col-md-7">

                        <input class="form-control" type="search" placeholder="Search" aria-label="Search"
                            v-on:keyup="searchLessons" v-model="searchTxt">

                    </div>
                    <div class="col-md-2 cart">
                        <button class="btn btn-1 btn-info" v-bind:disabled="(cartItems.length <= 0)"
                            v-on:click="updateShowProduct">
                            <p class="fa fa-shopping-cart mt-2" style="color: white;"></p> <span
                                style="color: white">{{cartItems.length}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <section id="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>Home | Store</p>
                    </div>
                </div>
            </div>
        </section>

        <section v-if="showProduct" id="product">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="dropdown show drop-down-1">
                            <p>Sort by</p>
                            <select class="btn select-btn-1 btn-info dropdown-toggle" style="width: 100%"
                                v-model="attribute">
                                <option v-for="(sortAttribute, key) in sortAttributes" v-bind:value="sortAttribute">
                                    {{ key }}</option>
                            </select>

                        </div>

                        <div class="dropdown show drop-down-2">
                            <select class="btn select-btn-2 btn-info dropdown-toggle" style="width: 100%"
                                v-model="order">
                                <option v-for="(sortOrder, key) in sortOrders" v-bind:value="sortOrder">{{ key }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div v-if="(lessons.length > 0)" class="row grid-1">


                            <div v-for="(lesson, index) in sortedLessons" class="col-md-4" style="margin-bottom: 20px;">
                                <div class="col-md-12 subject-1">
                                    <div class="row">
                                        <div class="col-md-6 subject-box">
                                            <P>Subject: {{lesson.topic}}<br> Location: {{lesson.location}}<br> Price:
                                                <span>&#163;{{lesson.price}}</span><br>
                                                Spaces: {{lesson.space}} <br> Icon: <span
                                                    v-bind:class="lesson.icon"></span></P>


                                        </div>
                                        <div class="col-md-6">
                                            <img v-bind:src="`http://localhost:3000/${lesson.image}`" alt=""
                                                style="width: 100px; height: 100px; margin-top: 20px">
                                        </div>
                                    </div>
                                    <button v-bind:disabled="(lesson.space <= 0)"
                                        v-on:click="addLessonToCart(lesson._id)" type="button"
                                        class="btn btn-1 btn-info" style="width: 100%">Add to
                                        Cart</button>
                                </div>
                            </div>




                        </div>
                        <div v-else class="row grid-1">
                            <p style="margin: auto;">No result found</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section v-else id="check-out">
            <div class="container">
                <div v-if="(cartItems.length > 0)" class="row">


                    <div v-for="(cartItem, index) in cartItems" class="col-md-4" style="margin-bottom: 20px;">
                        <div class="col-md-12 check-out-1">
                            <div class="row">
                                <div class="col-md-6 subject-box">
                                    <P>Subject: {{ fetchLesson(cartItem.lessonID).topic }}<br> Location:
                                        {{ fetchLesson(cartItem.lessonID).location }}<br> Price:
                                        <span>&#163;{{ fetchLesson(cartItem.lessonID).price }}</span><br> Icon: <span
                                            v-bind:class="fetchLesson(cartItem.lessonID).icon"></span> <br> Quantity:
                                        <span> {{cartItem.space}}</span></P>
                                </div>
                                <div class="col-md-6">
                                    <img v-bind:src="`http://localhost:3000/${fetchLesson(cartItem.lessonID).image}`"
                                        alt="" style="width: 100px; height: 100px; margin-top: 20px">
                                </div>
                            </div>
                            <button v-on:click="removeLessonFromCart(index)" type="button" class="btn btn-1 btn-info"
                                style="width: 100%">Remove from
                                Cart</button>
                        </div>
                    </div>



                </div>
            </div>

            <section id="check-out-form">
                <div class="container">
                    <div class="row check-out-row">
                        <div class="col-md-12">

                            <div class="row">
                                <div class="col">
                                    <input v-on:keyup="validateRegexCheckOut" type="text" class="form-control"
                                        placeholder="Enter your full name" v-model="checkOutName">
                                </div>
                                <div class="col">
                                    <input v-on:keyup="validateRegexCheckOut" type="text" class="form-control"
                                        placeholder="Enter your mobile number" v-model="checkOutNumber">
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <button v-bind:disabled="cannotCheckOut" v-on:click="checkOut" type="button"
                                    class="btn checkout-btn btn-info">Check Out</button>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

        </section>




    </div>

    <!-- Jquery file -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- Popper file -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap file -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Sweet alert file -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Lessons file where all the lessons are stored in json format -->
    <script src="js/lessons.js"></script>
    <!-- app.js this is where the vue object and the methods on when -->
    <script src="js/app.js"></script>

</body>

</html>