<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
	<link rel="stylesheet" href="css/styles.css">
	<title>Coursework 1</title>
</head>

<body>
	<div id="app">
		<main>
			<div class="header">
				<div class="sort">
					<select name="sortBy" id="sortBy" v-model="attribute">
						<option v-for="(sortAttribute, key) in sortAttributes" v-bind:value="sortAttribute">
							{{key}}</option>
					</select>
					<select name="orderBy" id="orderBy" v-model="order">
						<option v-for="(sortOrder, key) in sortOrders" v-bind:value="sortOrder">{{key}}
						</option>
					</select>
				</div>

				<form action="#" class="search">
					<input type="text" v-on:keyup="searchLessons" v-model="searchTxt" placeholder="Search for a lesson">
				</form>

				<button class="cart-btn" v-bind:disabled="(cartItems.length <= 0)" v-on:click="updateShowProduct">
					Cart&nbsp;&nbsp;&nbsp;
					<span class="fas fa-cart-plus"></span>
					{{cartItems.length}}
				</button>
			</div>

			<div v-if="showProduct" id="product">
				<h1>All Lessons</h1>
				<br>
				<div class="lessons" v-if="(lessons.length > 0)">
					<div v-for="(lesson, index) in sortedLessons" class="lesson">
						<div class="details">
							<div class="image">
								<img v-bind:src="`http://localhost:3000/${lesson.image}`" alt="">
							</div>
							<div class="text">
								<p>Subject: {{lesson.topic}}</p>
								<p>Location: {{lesson.location}}</p>
								<p>Price: ${{lesson.price}}</p>
								<p>Spaces: {{lesson.space}}</p>
							</div>
						</div>
						<button v-bind:disabled="(lesson.space <= 0)" v-on:click="addLessonToCart(lesson._id)">Add to
							Cart</button>
					</div>
				</div>
			</div>
			<!-- <div class="lessons">
				<div v-for="lesson in sorted" :key="lesson.id" class="lesson">
					<div class="details">
						<div class="image">
							<img v-bind:src="lesson.image" alt="">
						</div>
						<div class="text">
							<p>Subject: {{lesson.subject}}</p>
							<p>Location: {{lesson.location}}</p>
							<p>Price: {{lesson.price}}</p>
							<p>Spaces: {{lesson.spaces}}</p>
						</div>
					</div>
					<button @click="addToCart">Add to Cart</button>
				</div>
			</div> -->

			<div v-else id="check-out">
				<div class="shopping-cart">
					<div class="cart">
						<h1>Shopping Cart</h1>
						<div class="items" v-if="(cartItems.length > 0)">
							<div v-for="(cartItem, index) in cartItems" class="item">
								<div class="details">
									<div class="image">
										<img v-bind:src="`http://localhost:3000/${fetchLesson(cartItem.lessonID).image}`"
											alt="">
									</div>
									<div class="text">
										<p>Subject: {{fetchLesson(cartItem.lessonID).topic}}</p>
										<p>Location: {{fetchLesson(cartItem.lessonID).location}}</p>
										<p>Price: {{fetchLesson(cartItem.lessonID).price}}</p>
										<p>Space: {{cartItem.space}}</p>
									</div>
								</div>
								<button v-on:click="removeLessonFromCart(index)">Remove</button>
							</div>
						</div>

						<div class="checkout" id="check-out-form">
							<h1>Checkout</h1>
							<div class="form">
								<input v-on:keyup="validateRegexCheckOut" type="text" name="name" id="name"
									placeholder="Name" v-model="checkOutName">
								<input v-on:keyup="validateRegexCheckOut" type="text" name="phone" id="phone"
									placeholder="Phone" v-model="checkOutNumber">
								<button v-bind:disabled="cannotCheckOut" v-on:click="checkOut" class="checkout-btn"
									type="button">Checkout</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>

</body>
<script src="js/script.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</html>